<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar Sesión</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" th:href="@{/css/estilos.css}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: cabecera"></div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-4">
      <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
          <h5 class="mb-0"><i class="fas fa-sign-in-alt mr-2"></i>Iniciar Sesión</h5>
        </div>

        <div class="card-body bg-dark text-white">
          <form th:action="@{/usuarios/login}" method="post">
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
            <div th:if="${param.error}" class="alert alert-danger">Credenciales incorrectas</div>
            <div th:if="${param.logout}" class="alert alert-success">Sesión cerrada correctamente</div>
            <div th:if="${param.success}" class="alert alert-success">Usuario registrado correctamente.</div>

            <div class="form-group">
              <label th:for="username">Usuario:</label>
              <input type="text" name="username" class="form-control" required/>
            </div>

            <div class="form-group">
              <label th:for="password">Contraseña:</label>
              <input type="password" name="password" class="form-control" required/>
            </div>

            <div class="text-center mt-4">
              <button type="submit" class="btn btn-light px-5">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
