<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: cabecera"></div>

<div class="container mt-5">
    <h2 class="text-center mb-4">Registro de Usuario</h2>
    <!-- registro.html  -->
    <form th:action="@{/usuarios/registro}"th:object="${usuario}" method="post" class="mx-auto" style="max-width:500px;">
        <div class="form-group">
            <label th:for="username">Nombre de usuario:</label>
            <input type="text" th:field="*{username}" class="form-control" required/>
        </div>
        <div class="form-group">
            <label th:for="email">Correo electrónico:</label>
            <input type="email" th:field="*{email}" class="form-control" required/>
        </div>
        <div class="form-group">
            <label th:for="password">Contraseña:</label>
            <input type="password" th:field="*{password}" class="form-control" required/>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-dark">Registrarse</button>
        </div>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
