<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Repostaje</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/modals.js}"></script>
</head>
<body>

<!-- Cabecera -->
<div th:replace="fragments/header :: cabecera"></div>

<!-- Migas de pan -->
<nav aria-label="breadcrumb" class="mt-1">
    <ol class="breadcrumb ms-3 me-3">
        <li class="breadcrumb-item"><a th:href="@{/coches}">Inicio</a></li>
        <li class="breadcrumb-item">
            <a th:href="@{/coches/{matricula}(matricula=${matricula})}">Detalles del Coche</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Repostaje</li>
    </ol>
</nav>

<!-- Formulario -->
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
            <h5 class="mb-0"><i class="fas fa-gas-pump mr-2"></i>Agregar Repostaje</h5>
        </div>
        <div class="card-body bg-dark text-white">
            <form th:action="@{/repostajes/agregar}" th:object="${repostaje}" method="post">
                <input type="hidden" name="matricula" th:value="${matricula}" />

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label th:for="*{precio}">Precio Total (€)</label>
                        <input type="number" step="0.01" th:field="*{precio}" class="form-control" required id="precio"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label th:for="*{litros}">Litros</label>
                        <input type="number" step="0.01" th:field="*{litros}" class="form-control" required id="litros"/>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label th:for="*{precioLitro}">Precio por Litro</label>
                        <input type="number" step="0.01" th:field="*{precioLitro}" class="form-control" readonly id="precioLitro"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label th:for="*{kmRepostaje}">Kilómetros al Repostaje</label>
                        <input type="number" th:field="*{kmRepostaje}" class="form-control" required/>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label th:for="*{fecha}">Fecha</label>
                    <input type="date" th:field="*{fecha}" class="form-control" required/>
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-light px-5">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
