<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Coches</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/panel-toggle.js}"></script>

</head>
<body>
<th:block th:replace="fragments/header :: cabecera"></th:block>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</nav>

<div id="coches">
    <div class="container mt-5">
        <div class="row">
            <div class="card-deck col-md-4 mb-4" th:each="coche : ${coches}">
                <div class="card card-custom">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${coche.marca} + ' ' + ${coche.modelo}"></h5>
                        <p class="card-text">
                            <strong>Matrícula:</strong> <span th:text="${coche.matricula}"></span><br>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{'/coches/' + ${coche.matricula}}" class="btn btn-secondary"><i class="fas fa-eye"></i> Ver</a>
                        <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
