<div class='alert alert-warning' th:fragment="alertas" xmlns:th="http://www.w3.org/1999/xhtml">
  <div th:if="${session.alertas != null}" aria-live="polite">
    <div th:each="a : ${session.alertas}"
         class="alert alert-[[${a.tipo}]] alert-dismissible fade show mt-3"
         role="alert">
      <span th:utext="${a.mensaje}"></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
