@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*	BODY JSP  */
body {
    background-color: #2D2D2D; /* Un tono de gris oscuro que complementa el banner */
    background: linear-gradient(135deg, #2D2D2D 0%, #4C4C4C 100%);
    background-size: cover; /* Asegura que la imagen de fondo cubra toda la página */
    background-attachment: fixed; /* Hace que la imagen de fondo no se mueva al hacer scroll */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #ffffff;
}

/* MIGAS DE PAN */
.breadcrumb .breadcrumb-item a {
    color: black; /* Esto hará que los enlaces usen el color de texto heredado */
    text-decoration: none; /* Remueve el subrayado de los enlaces */
}

.breadcrumb .breadcrumb-item a:hover {
    color: #333; /* El color permanece igual incluso al pasar el ratón sobre el enlace */
    text-decoration: none; /* Opcional: puedes añadir subrayado al pasar el ratón para indicar que es un enlace */
}


/*	CABECERA APP JSP  */
.banner {
    max-width: 100%;
    padding: 20px;
    background-color: #333; /* Color de fondo oscuro */
    font-family: 'Roboto', sans-serif; /* Fuente moderna y legible */
    box-shadow: 0 8px 16px rgba(0,0,0,0.25); /* Sombra más pronunciada para efecto de elevación */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Necesario para posicionar el :before relativo a este contenedor */
    overflow: hidden; /* Asegúrate de que cualquier hijo que sobresalga sea cortado */
}

.banner:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: transform 0.5s ease; /* Suaviza la transformación */
    z-index: 0;
}

.banner:hover:before {
    transform: translate(-50%, -50%) scale(0.5); /* Escala hacia abajo cuando se pasa el mouse */
}

.banner-content {
    z-index: 2; /* Asegúrate de que el contenido esté por encima del :before */
    color: #fff; /* Color del texto */
}

.banner-title {
    font-size: 3em; /* Tamaño más grande para el título */
    font-weight: 700; /* Fuente más gruesa para impacto */
    margin-bottom: 0.5em;
    transition: color 0.3s ease; /* Transición suave para cambios de color */
}

.banner-text {
    font-size: 1.2em; /* Un poco más grande para mejorar la legibilidad */
    max-width: 600px; /* Ajuste de anchura máxima para controlar la longitud de la línea */
}

.banner:hover .banner-title {
    color: #eaeaea; /* Cambio sutil de color al pasar el mouse */
}

/*	LISTA COCHES JSP*/
.card-custom {
    background-color: #fff; /* Fondo oscuro para la tarjeta */
    color: #333; /* Texto en color claro para contraste */
    border: none; /* Elimina el borde por defecto de las tarjetas de Bootstrap */
}

.card-custom .card-title,
.card-custom .card-text {
    color: #333; /* Asegura que el texto de la tarjeta sea claro */
}

.card-custom .btn {
    border: 0; /* Botones sin borde */
}

.card-custom .card-footer {
    background-color: #2d2d2d; /* Un tono más oscuro para el pie de la tarjeta */
}

.color-square {
    width: 30px;
    height: 20px;
    border: 1px solid #ddd;
    margin: 0 auto;
}


.custom-table thead th {
    position: sticky;
    top: 0;
    background-color: #343a40;
    color: #fff;
    z-index: 10;
}
.custom-table tbody tr:hover {
    background-color: #f2f2f2;
}

/* Estilos base para los botones */
.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid transparent; /* Añade un borde para mantener el tamaño del botón al pasar el mouse */
    border-radius: 5px; /* Esquinas redondeadas para un look moderno */
    background-color: #f1f1f1;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s; /* Transición suave */
    margin: 0 10px; /* Espaciado entre botones */
}

/* Efecto hover para los botones */
.tab-button:hover {
    background-color: #e2e2e2; /* Un gris ligeramente más oscuro para el efecto hover */
    border-color: #ccc; /* Borde sutil cuando se pasa el mouse */
}

/* Estilo para el botón activo */
.tab-button.active {
    background-color: #000000; /* Negro para el botón activo */
    color: white;
    border-color: #000000; /* Asegúrate de que el borde sea del mismo color que el fondo para el botón activo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

/* Estilos para las listas */
.content-panel {
    display: none; /* Esconder todos inicialmente */
}

.content-panel.active {
    display: block; /* Mostrar el panel activo */
}

/* Estilo para posicionar los botones debajo de la cabecera */
.tab-buttons-container {
    margin-top: 20px; /* Ajusta esto según sea necesario */
    text-align: center; /* Centrar botones */
}
 /** DETALLES COCHE **/
 .car-details {
	background-color: #f8f9fa;
	border: 1px solid #dee2e6;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}

.car-detail-header {
	font-size: 1.5em;
	margin-bottom: 15px;
	color: #495057;
}

.car-detail {
	font-size: 1.2em;
	margin-bottom: 10px;
	color: #333333;
}

.car-detail-icon {
	color: #007bff;
	margin-right: 5px;
}

.color-square {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}
 /** MODALES **/
 .modal-content{
 	color: black;
 }
 
#fomularioBuscador{
	 color:black;
	 background-color: white;
 }